.conocimientos {
    position:relative;
    bottom: 55px;
    left: 180px;
}


.respañol {
    position:relative;
    bottom: 50px;
}

.ringles {
    position:relative;
    bottom: 30px;
}

.rfrances {
    position:relative;
    bottom: 10px;
}

.rchino {
    position:relative;
    bottom: -10px;
}



.rango1 {
    position:relative;
    bottom: 140px;
    left: 190px;
}

.rango2 {
    position:relative;
    bottom: 140px;
    left: 190px;
}

.rango3 {
    position:relative;
    bottom: 140px;
    left: 190px;
}

.rango4 {
    position:relative;
    bottom: 140px;
    left: 190px;
}



.botones {
    position:relative;
    bottom:100px;
    left:40px;
}