.idiomas {
    position:absolute;
    bottom:510px;
    right:1500px;
}

.conocimiento {
    position:absolute;
    bottom:510px;
    right:1220px;
}

.botones {
    position:absolute;
    bottom:250px;
    right:1363px;
}




.rango1{
    position:absolute;
    bottom:460px;
    right:1230px;
}

.rango2{
    position:absolute;
    bottom:410px;
    right:1230px;
}

.rango3{
    position:absolute;
    bottom:370px;
    right:1230px;
}

.rango4{
    position:absolute;
    bottom:310px;
    right:1230px;
}




.respañol {
    position:absolute;
    bottom:470px;
    right:1490px;
}

.ringles{
    position:absolute;
    bottom:420px;
    right:1502px;
}

.rfrances{
    position:absolute;
    bottom:370px;
    right:1491px;
}

.rchino{
    position:absolute;
    bottom:320px;
    right:1501px;
}
